In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('reviews.csv')
reviews.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [3]:
import collections, re
reviews['word_count'] = [collections.Counter(re.findall(r'\w+', txt)) for txt in reviews['Description']]

In [4]:
reviews.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,word_count
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,"{'The': 1, 'room': 1, 'was': 3, 'kind': 1, 'of..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,"{'I': 7, 'stayed': 1, 'at': 2, 'the': 10, 'Cro..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,"{'I': 8, 'booked': 2, 'this': 2, 'hotel': 2, '..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,"{'Stayed': 1, 'here': 1, 'with': 2, 'husband':..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,"{'My': 2, 'girlfriends': 1, 'and': 7, 'I': 7, ..."

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(reviews['Description'], reviews['Is_Response'], random_state = 0)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
X_test_counts = count_vect.transform(X_test)

In [7]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression().fit(X_train_counts, y_train)

c:\users\monsharm\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [8]:
model.predict(X_test_counts)[0:5]

array(['happy', 'not happy', 'happy', 'happy', 'happy'], dtype=object)

In [9]:
X_test.head(10)

37320    This past weekend my sister and I were in San ...
7672     I knew something was strange when I walked rig...
27189    Room was very clean and well equiped. Staff wa...
11419    Hotel staff was very friendly upon registratio...
10501    We stayed in this Hotel for - nights , in the ...
29791    Just got back from our first visit to NYC. Was...
20947    it's a nice hotel in a good location to stay f...
14952    We stayed here for a wedding we had to attend ...
29423    My self and family have just got back from thi...
27786    My husband and I spent four nights in a bay-vi...
Name: Description, dtype: object

In [10]:
X_test[29423]

"My self and family have just got back from this hotel and had - rooms with connecting doors. Can't really fault this hotel, we only had standard rooms but still had a view out front of the Hudson from the --th floor.\nThe beds are exceptionally comfortable and bathrooms of an excellent standard.\nShould you decide to have the breakfast in the hotel restaurant (Roys) then you won't be disappointed. You can either choose set breakfast meals or like us go for the buffet at about $-- a head.\nUnlimited coffee, masses amount of hot and cold things to choose from cereal, porridge, croissants to bacon, sausage, potatoes etc.\nThere is even a couple of chefs on hand to take your orders for additional things like pancakes, waffles, eggs and hash browns, all in the buffet price.\nThere is a subway station very close (Rector Street) and in fact Courtland Street subway is very close adjacent to the WTC site and Century -- shop.\nIf you want to stay downtown you won't be disappointed here.\nIt does have a fitness room and indoor pool but we didn't see them."

# Assignments

In [11]:
# Assignment 1
# find the most common and the least common word in the dataset among the following words

feature_list = ('awesome','excellent','enjoyed','happy', 'nice','great', 'fantastic', 'amazing', 'love', 'horrible', 'bad', 'terrible', 'awful', 'wow', 'hate','clean', 'small', 'comfortable')

def getCount(word_count,elem):
    return (0 if (word_count.get(elem,0)==0) else word_count[elem])

for elem in feature_list:
    reviews[elem] = reviews['word_count'].apply(lambda x:getCount(x,elem))
    
reviews.head()    
    
for elem in feature_list:
    print(elem,reviews[elem].sum())
    
    
# great - 22403, wow - 131

awesome 1083
excellent 5092
enjoyed 2613
happy 2131
nice 17257
great 22403
fantastic 2182
amazing 2213
love 1543
horrible 614
bad 3155
terrible 718
awful 441
wow 131
hate 171
clean 15456
small 9705
comfortable 9888

In [12]:
#Assignment 2 - getting accuracy scores of the two models
count_vect_mywords = CountVectorizer(vocabulary=feature_list)
X_train_counts_mywords = count_vect_mywords.fit_transform(X_train)
X_test_counts_mywords = count_vect_mywords.transform(X_test)

model_mywords = LogisticRegression().fit(X_train_counts_mywords, y_train)

In [13]:
model.score(X_test_counts,y_test)

0.8712627144765231

In [14]:
model_mywords.score(X_test_counts_mywords, y_test)

0.7332785369361965

In [15]:
# Assigment